#ifndef __CONFIG_H__
#define __CONFIG_H__
/******************************************************************************
  PWM Settings
  RC5/PWM1 - LED PWM
  RC3/PWM2 - LED Switch
  RC1/PWM4 - Charging
 ******************************************************************************/

/******************************************************************************
  LED LOAD PI SETTING
 ******************************************************************************/
#define LED_LOAD_SETPOINT	20
#define LED_LOAD_DIM_SETPOINT	10
#define LED_LOAD_KP	16
#define LED_LOAD_KI	2
#define LED_LOAD_CONST_K 64
#define LED_LOAD_DUTY_MAX	350
#define LED_LOAD_INTEGRAL_MIN -32000
#define LED_LOAD_INTEGRAL_MAX 32000
#define LED_LOAD_PI_PWM_PERIOD 100 //PWM period for 40KHz
#define LED_LOAD_PWM PWM1
#define LED_LOAD_POLARTIY ACTIVE_HIGH
#define LED_LOAD_CURRENT_SENSE 6
#define LED_LOAD_OVERLOAD_SENSE 11
#define LED_LOAD_SWITCH_INIT_VALUE 0
#define LOAD_SRT_CKT_PROTECTION_SW_ENABLE 1

/******************************************************************************
  INTENSITY_SWITCH
 ******************************************************************************/
#define TOTAL_INTENSITY_SWITCH 2
#define SWITCH {\
		{PORT_A, 5,LED_LOAD_SETPOINT, 1},\
		{PORT_B, 7,LED_LOAD_DIM_SETPOINT, 1},\
	}
/******************************************************************************

/******************************************************************************
  BATTERY SETTING
 ******************************************************************************/
#define BATT_6_V
#ifdef BATT_12_V
#define BAT_HI_VOL 164 //for 13V
#define BAT_MID_VOL 140 //for 11V  
#define BAT_LO_VOL 129 //for 10.2V
#define BAT_RECONNECT_VOL 152//12V
#define OVP_VOL 170 //59V
#define LOAD_OPEN_CKT_VOL 1
#define LOAD_SHORT_CKT_VOL 1000
#endif
#ifdef BATT_6_V
#define BAT_HI_VOL 84 //for 6.5V
#define BAT_MID_VOL 71 //for 5.5V  
#define BAT_LO_VOL 66 //for 5.1V
#define BAT_RECONNECT_VOL 78//6V
#define OVP_VOL 170 //59V
#define LOAD_OPEN_CKT_VOL 1
#define LOAD_SHORT_CKT_VOL 1000
#endif
#define BATT_CHARGING_PWM PWM4
#define BATT_CHARG_PI_PWM_PERIOD 250
#define BATT_CHARGING_ADC 9
#define BATT_CHARGING_INIT_VALUE 0

/******************************************************************************
PV MANAGEMENT
 ******************************************************************************/
#define CHARGER_ADC_LINE 10
#define DUSK2DAWN
#define DUSK_VOLT 0x10
#define DAWN_VOLT 0x80
#define PV_BASE_VOLT_LOW 912 //voltage even when PV is not detected
#define PV_BASE_VOLT_HI 928 //voltage even when PV is not detected

/******************************************************************************
POWER MANAGEMENT
 ******************************************************************************/
#define POWER_MGMT
#define LED_LOAD_POWER_MGMT
#endif
