#ifndef __CONFIG_H__
#define __CONFIG_H__
/******************************************************************************
  PWM Settings
  RC5/PWM1 - LED PWM
  RC3/PWM2 - LED Switch
  RC1/PWM4 - Charging
 ******************************************************************************/

/******************************************************************************
  LED LOAD PI SETTING
 ******************************************************************************/
#define LED_LOAD_SETPOINT	20
#define LED_LOAD_DIM_SETPOINT	10
#define LED_LOAD_KP	16
#define LED_LOAD_KI	2
#define LED_LOAD_CONST_K 64
#define LED_LOAD_DUTY_MAX	350
#define LED_LOAD_INTEGRAL_MIN -32000
#define LED_LOAD_INTEGRAL_MAX 32000
#define LED_LOAD_PI_PWM_PERIOD 100 //PWM period for 40KHz
#define LED_LOAD_PWM PWM1
#define LED_LOAD_POLARTIY ACTIVE_HIGH
#define LED_LOAD_CURRENT_SENSE 6
#define LED_LOAD_OVERLOAD_SENSE 11
#define LED_LOAD_SWITCH_INIT_VALUE 0
#define LOAD_SRT_CKT_PROTECTION_SW_ENABLE 1

/******************************************************************************
  INTENSITY_SWITCH
 ******************************************************************************/
#define TOTAL_INTENSITY_SWITCH 2
#define SWITCH {\
		{PORT_A, 5,LED_LOAD_SETPOINT, 1},\
		{PORT_B, 7,LED_LOAD_DIM_SETPOINT, 1},\
	}
/******************************************************************************

/******************************************************************************
  BATTERY SETTING
 ******************************************************************************/
#define BATT_6_V
#ifdef BATT_12_V
#define BAT_HI_VOL 164 //for 13V
#define BAT_MID_VOL 140 //for 11V  
#define BAT_LO_VOL 129 //for 10.2V
#define BAT_RECONNECT_VOL 152//12V
#define OVP_VOL 170 //59V
#define LOAD_OPEN_CKT_VOL 1
#define LOAD_SHORT_CKT_VOL 1000
#endif
#ifdef BATT_6_V
#define BAT_HI_VOL 88 //for 6.5V
#define BAT_MID_VOL 75 //for 5.5V  
#define BAT_LO_VOL 73 //for 5.1V
#define BAT_RECONNECT_VOL 78//6V
#define OVP_VOL 170 //59V
#define LOAD_OPEN_CKT_VOL 1
#define LOAD_SHORT_CKT_VOL 1000
#endif
#define BATT_CHARGING_PWM PWM4
#define BATT_CHARING_POLARTIY ACTIVE_HIGH
#define BATT_CHARGING_SENSE NEGATIVE //means with increasing current sense value decrease
#define BATT_CHARG_PI_PWM_PERIOD 100
#define BATT_CHARGING_ADC 8
#define BATT_CHARGING_INIT_VALUE 0
#define BATT_CHARGING_KP 16
#define BATT_CHARGING_KI 2
#define BATT_CHARGING_CONST_K 64
#define BATT_CHARGING_DUTY_MAX BATT_CHARG_PI_PWM_PERIOD<<2 //100%
#define BATT_CHARGING_SETPOINT 0x50 //970 mV results in 2A current // adjust it for 2mV adc resolution
#define BATT_CHARGING_INTEGRAL_MIN -32000
#define BATT_CHARGING_INTEGRAL_MAX 32000
#define BATT_CV_VOLT 94
#define BATT_CV_CURRENT_LIMIT 0x5D

/******************************************************************************
PV MANAGEMENT
 ******************************************************************************/
#define CHARGER_ADC_LINE 10
#define DUSK2DAWN
#define PV_POSITIVE_SIDE
#define DUSK_VOLT 0x10
#define DAWN_VOLT 0x25
#define PV_BASE_VOLT_LOW 0 //voltage even when PV is not detected
#define PV_BASE_VOLT_HI 928 //voltage even when PV is not detected

/******************************************************************************
CHARGING MANAGEMENT
 ******************************************************************************/
#define VERIFY_CHARGER(C_V, B_V) (C_V > 0x25) ? 1: 0

/******************************************************************************
POWER MANAGEMENT
 ******************************************************************************/
#define POWER_MGMT
#define LED_LOAD_POWER_MGMT
#endif
