#ifndef __CONFIG_H__
#define __CONFIG_H__
/******************************************************************************
  PWM Settings
  RC5/PWM1 - LED PWM
  RC3/PWM2 - LED Switch
  RC1/PWM4 - Charging
 ******************************************************************************/

/******************************************************************************
  LED LOAD PI SETTING
 ******************************************************************************/
#define LED_LOAD_SETPOINT	68
#define LED_LOAD_KP	16
#define LED_LOAD_KI	2
#define LED_LOAD_CONST_K 64
#define LED_LOAD_DUTY_MAX	350
#define LED_LOAD_INTEGRAL_MIN -32000
#define LED_LOAD_INTEGRAL_MAX 32000
#define LED_LOAD_PI_PWM_PERIOD 100 //PWM period for 40KHz
#define LED_LOAD_PWM PWM1

/******************************************************************************
  BATTERY SETTING
 ******************************************************************************/
#define BATT_12_V
#ifdef BATT_12_V
#define BAT_HI_VOL 164 //for 13V
#define BAT_MID_VOL 140 //for 11V  
#define BAT_LO_VOL 129 //for 10.2V
#define BAT_RECONNECT_VOL 152//12V
#define OVP_VOL 170 //59V
#define LOAD_OPEN_CKT_VOL 1
#define LOAD_SHORT_CKT_VOL 1000
#endif
#define BATT_CHARGING_PWM PWM4

/******************************************************************************
PV MANAGEMENT
 ******************************************************************************/
#define CHARGER_ADC_LINE 10
#define DUSK2DAWN
#define DUSK_VOLT 0x10
#define DAWN_VOLT 0x80
#define PV_BASE_VOLT_LOW 912 //voltage even when PV is not detected
#define PV_BASE_VOLT_HI 928 //voltage even when PV is not detected

/******************************************************************************
POWER MANAGEMENT
 ******************************************************************************/
#define POWER_MGMT
#define LED_LOAD_POWER_MGMT
#endif
